# 5.3.4 - SQL with Spark

In [3]:
import pyspark
from pyspark.sql import SparkSession, types

spark = SparkSession.builder \
    .master('local[*]') \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 20:26:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

After importing the basics and setting up the session, load in taxi data:

In [7]:
df_green = spark.read.parquet('data/pq/green/*/*/')
df_yellow = spark.read.parquet('data/pq/yellow/*/*/')

In [13]:
df_yellow.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

Want to run a transformation that works on both datasets, so we'll merge these below on the fields that match. We'll have to rename one or both sets so that the date column matches in name.

In [14]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [15]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

We won't use this set exactly, as we want to preserve the column order

In [16]:
common_columns = []
for column in df_green.columns:
    if column in df_yellow.columns:
        common_columns.append(column)

common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

We'll append a `service_type` column to ensure we know where the data is coming from in each case. We'll need to use the `literal` function for god knows what reason in this case.

In [18]:
from pyspark.sql import functions as F

df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [19]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [21]:
df_trips_data.groupBy('Service_type').count().show()

+------------+--------+
|Service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

We haven't *really* used SQL so far- from here we can give it a go on the combined dataset. We need to register the df as a table to start.

In [22]:
df_trips_data.registerTempTable('trips_data')

/home/sam/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [27]:
spark.sql("""
    SELECT
        service_type,
        COUNT(*) AS records_count
    FROM trips_data
    GROUP BY service_type
    """).show()

+------------+-------------+
|service_type|records_count|
+------------+-------------+
|       green|      2304517|
|      yellow|     39649199|
+------------+-------------+

Now going to execute a query from week 4: [dm_monthly_zone_revenue.sql](https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/week_4_analytics_engineering/taxi_rides_ny/models/core/dm_monthly_zone_revenue.sql)

In [29]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [34]:
df_result = spark.sql("""
    SELECT 
        -- Revenue grouping 
        PULocationID AS revenue_zone,
        DATE_TRUNC('month', pickup_datetime) AS revenue_month, 

        service_type, 

        -- Revenue calculation 
        SUM(fare_amount) AS revenue_monthly_fare,
        SUM(extra) AS revenue_monthly_extra,
        SUM(mta_tax) AS revenue_monthly_mta_tax,
        SUM(tip_amount) AS revenue_monthly_tip_amount,
        SUM(tolls_amount) AS revenue_monthly_tolls_amount,
        SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
        SUM(total_amount) AS revenue_monthly_total_amount,
        SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

        -- Additional calculations
        COUNT(*) AS total_monthly_trips,
        AVG(passenger_count) AS avg_montly_passenger_count,
        AVG(trip_distance) AS avg_montly_trip_distance

    FROM trips_data
    GROUP BY
        revenue_zone,
        revenue_month,
        service_type
    ORDER BY
        revenue_zone,
        revenue_month,
        service_type
""")

In [35]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+-------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|total_monthly_trips|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+-------------------+--------------------------+------------------------+
|           1|2020-01-01 00:00:00|       green|               391.0|                  0.0|                    0.0|         74.41000000000001|                         0.0|                                  1.2|                      466.61|                                 0.0|                  4|                      1.25|                     0.0|
|           1|2020-01-01 00:00:00|      yellow|   62101.32999999999|                 29.0|                  106.0|         9138.460000000001|          2877.4599999999996|                    221.3999999999986|           74478.64999999992|                                 5.0|                755|         1.594953519256308|      0.9007152317880794|
|           1|2020-02-01 00:00:00|       green|               384.5|                  1.0|                    0.5|                     53.34|                         0.0|                                  1.5|          440.84000000000003|                                 0.0|                  5|                       1.0|                     2.8|
|           1|2020-02-01 00:00:00|      yellow|            50083.31|                 11.0|                   85.0|        6558.8099999999995|                     1981.64|                   182.39999999999947|           58909.11000000006|                                 5.0|                621|        1.5193548387096774|      1.0048470209339775|
|           1|2020-03-01 00:00:00|       green|               276.0|                  0.0|                    1.0|                     90.76|                         0.0|                                  1.5|                      369.26|                                 0.0|                  5|                       1.4|                     0.0|
|           1|2020-03-01 00:00:00|      yellow|            26563.72|                 12.3|                   49.5|        3530.6699999999987|                     1036.38|                    99.89999999999972|           31304.96999999995|                                12.5|                339|        1.4542772861356932|       1.211858407079646|
|           1|2020-04-01 00:00:00|       green|              184.55|                  0.0|                    0.5|                       0.0|                         0.0|                                  0.6|                      188.15|                                 0.0|                  2|                       1.0|                   9.365|
|           1|2020-04-01 00:00:00|      yellow|               420.5|                  1.8|                    2.0|         5.159999999999999|                         0.0|                                  2.4|                      431.86|                                 0.0|                  9|                       1.0|      1.3833333333333333|
|           1|2020-05-01 00:00:00|      yellow|   856.1199999999999|                  0.0|                    2.5|        154.42000000000002|                       39.25|                   3.8999999999999995|                     1058.69|                                 2.5|                 13|        1.1666666666666667|      4.3792307692307695|
|           1|2020-06-01 00:00:00|      yellow|  1396.4299999999998|                  3.0|                    5.5|        221.65000000000003|                       79.75|                    6.899999999999998|          1719.0799999999995|                                 0.0|                 25|                       2.0|      2.6664000000000003|
|           1|2020-07-01 00:00:00|       green|               206.5|                  0.0|                    1.0|                       5.5|                        23.0|                   0.8999999999999999|          236.89999999999998|                                 0.0|                  3|                       1.0|      18.133333333333333|
|           1|2020-07-01 00:00:00|      yellow|             2413.51|                  1.0|                    5.0|        249.71000000000004|                       81.67|                   10.500000000000004|           2767.790000000001|                                 2.5|                 35|        1.2857142857142858|      1.1654285714285715|
|           1|2020-08-01 00:00:00|       green|                82.5|                  0.0|                    0.5|                      2.75|                       13.75|                                  0.6|                       100.1|                                 0.0|                  2|                       1.5|                    8.07|
|           1|2020-08-01 00:00:00|      yellow|              3769.0|                  3.0|                    6.0|                     478.6|                       39.25|                   19.500000000000025|           4315.350000000003|                                 0.0|                 65|                  1.328125|      1.6513846153846155|
|           1|2020-09-01 00:00:00|      yellow|              3159.0|                  0.0|                    6.5|                    434.08|                       57.25|                    13.50000000000001|          3670.3300000000013|                                 0.0|                 45|        1.6444444444444444|      0.8360000000000001|
|           1|2020-10-01 00:00:00|       green|               199.0|                  1.0|                    0.5|                     20.06|                       25.99|                                  0.6|                      247.15|                                 0.0|                  2|                       1.0|                   18.56|
|           1|2020-10-01 00:00:00|      yellow|  3757.3199999999997|                  2.0|                    8.0|                    418.48|                       166.4|                    17.10000000000002|           4371.800000000003|                                 2.5|                 60|         1.305084745762712|      2.1716666666666664|
|           1|2020-11-01 00:00:00|       green|               187.0|                  0.0|                    0.0|                      24.0|                         0.0|                                  0.6|                       211.6|                                 0.0|                  2|                       1.0|                     0.0|
|           1|2020-11-01 00:00:00|      yellow|   4684.330000000001|                  1.5|                   11.0|                    713.18|                      146.25|                    21.90000000000002|          5580.6600000000035|                                 2.5|                 75|        1.2533333333333334|       2.027333333333333|
|           1|2020-12-01 00:00:00|       green|              120.09|                  0.0|                    0.0|                       0.0|                         0.0|                                  0.3|                      120.39|                                 0.0|                  1|                       1.0|                     0.0|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+-------------------+--------------------------+------------------------+
only showing top 20 rows

In [37]:
df_result.write.parquet('./data/report/revenue')

In [38]:
!ls -lh ./data/report/revenue

total 524K
-rw-r--r-- 1 sam sam    0 Mar  2 21:14 _SUCCESS
-rw-r--r-- 1 sam sam 522K Mar  2 21:14 part-00000-e7e14d87-9837-4b65-b646-46955c7141c8-c000.snappy.parquet

In this case, there's only one file- if there are multiple redundant files, we could use the `coalesce()` function to reduce the number of files produced:

```py
df_result \
    .coalesce(1) \
    .write \
    .parquet('./data/report/revenue', mode='overwrite')
```