# Week 5 Homework

>For this homework we will be using the FHVHV 2021-06 data found here. [FHVHV Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz)

In [14]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -O ./data/fhvhv_2021-06.csv.gz

--2023-03-05 07:56:32--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T075632Z&X-Amz-Expires=300&X-Amz-Signature=820688a9a8d437d4b3048401f04983835bc2c56766f6be81a632680fc42f604c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-05 07:56:32--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T075632Z&X-Amz-Expires=300&X-Amz-Signature=820688a9a8d437d4b3048401f04983835bc2c56766f6be81a632680fc42f604c&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘./data/fhvhv_2021-06.csv.gz’

./data/fhvhv_2021-0 100%[===================>] 167.66M  35.0MB/s    in 5.4s

2023-03-05 07:56:38 (30.8 MB/s) - ‘./data/fhvhv_2021-06.csv.gz’ saved [175799316/175799316]

## Question 1: 

>**Install Spark and PySpark** 
>- Install Spark
>- Run PySpark
>- Create a local spark session
>- Execute spark.version.
>
>What's the output?
- 3.3.2

In [2]:
import pyspark
from pyspark.sql import SparkSession, types

spark = SparkSession.builder \
    .master('local[*]') \
    .appName('test') \
    .getOrCreate()
    
spark.version

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/05 07:48:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

'3.3.2'

## Question 2: 

>**HVFHW June 2021**
>
>Read it with Spark using the same schema as we did in the lessons.</br> 
>We will use this dataset for all the remaining questions.</br>
>Repartition it to 12 partitions and save it to parquet.</br>
>What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.</br>

- 24MB

In [17]:
import pandas as pd
df_pd = pd.read_csv('./data/fhvhv_2021-06.csv.gz', \
    nrows = 100)

schema = df_pd.dtypes
schema

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [18]:
from pyspark.sql import types

schema = types.StructType([
types.StructField('dispatching_base_num', types.StringType(), True), 
types.StructField('pickup_datetime', types.TimestampType(), True), 
types.StructField('dropoff_datetime', types.TimestampType(), True), 
types.StructField('PULocationID', types.LongType(), True), 
types.StructField('DOLocationID', types.LongType(), True), 
types.StructField('SR_Flag', types.StringType(), True),
types.StructField('Affiliated_base_number', types.StringType(), True), 
])

df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("./data/fhvhv_2021-06.csv.gz")
df.head(5)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 8), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 53, 45), PULocationID=127, DOLocationID=235, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 45, 42), dropoff_datetime=datetime.datetime(2021, 6, 1, 1, 3, 33), PULocationID=144, DOLocationID=146, SR_Flag='N', Affiliated_base_number=None)]

In [19]:
df = df.repartition(12)
df.write.parquet('./data/fhv_pq')
!ls -lh ./data/fhv_pq

total 284M
-rw-r--r-- 1 sam sam   0 Mar  5 08:03 _SUCCESS
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00000-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00001-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00002-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00003-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00004-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00005-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00006-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00007-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00008-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00009-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00010-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet
-rw-r--r-- 1 sam sam 24M Mar  5 08:03 part-00011-a58b5092-2344-4cab-9f0a-64a8129e337a-c000.snappy.parquet

## Question 3: 

>**Count records**  
>
>How many taxi trips were there on June 15?</br></br>
>Consider only trips that started on June 15.</br>

- 452,470

In [20]:
df.registerTempTable('fhvhv')

/home/sam/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [23]:
spark.sql("""
    SELECT
        COUNT(*) AS trips
    FROM fhvhv
    WHERE pickup_datetime >= '2021-06-15'
        AND pickup_datetime < '2021-06-16'
""").show()

+------+
| trips|
+------+
|452470|
+------+

## Question 4: 

>**Longest trip for each day**  
>
>Now calculate the duration for each trip.</br>
>How long was the longest trip in Hours?</br>

- 66.87 Hours

In [28]:
# Trying this with a function, rather than straight SQL
from pyspark.sql import functions as F

df_dur = df.withColumn('TimeDiff', \
    (F.col('dropoff_datetime').cast('long') - \
    F.col('pickup_datetime').cast('long'))/3600)
df_dur.show(4)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|           TimeDiff|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
|              B02879|2021-06-26 10:55:58|2021-06-26 11:07:36|          48|         162|      N|                B02879| 0.1938888888888889|
|              B02864|2021-06-04 14:18:02|2021-06-04 15:04:26|         231|         138|      N|                B02864| 0.7733333333333333|
|              B02510|2021-06-11 00:43:47|2021-06-11 00:54:15|           4|         144|      N|                  null|0.17444444444444446|
|              B02875|2021-06-10 14:13:55|2021-06-10 15:18:21|         164|          17|      N|                B02875|  1.073888888888889|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------------+
only showing top 4 rows

In [29]:
df_dur.registerTempTable('fhvhv_dur')
spark.sql("""
    SELECT
        dispatching_base_num,
        pickup_datetime,
        ROUND(TimeDiff, 2) AS TimeDiff
    FROM fhvhv_dur
    ORDER BY TimeDiff DESC
    LIMIT 5
""").show()

/home/sam/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------------------+-------------------+--------+
|dispatching_base_num|    pickup_datetime|TimeDiff|
+--------------------+-------------------+--------+
|              B02872|2021-06-25 13:55:41|   66.88|
|              B02765|2021-06-22 12:09:45|   25.55|
|              B02879|2021-06-27 10:32:29|   19.98|
|              B02800|2021-06-26 22:37:11|    18.2|
|              B02682|2021-06-23 20:40:43|   16.47|
+--------------------+-------------------+--------+

## Question 5: 

>**User Interface**
>
>Spark’s User Interface which shows application's dashboard runs on which local port?</br>

- 4040

### Question 6: 

>**Most frequent pickup location zone**
>
>Load the zone lookup data into a temp view in Spark</br>
>[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)</br>
>
>Using the zone lookup data and the fhvhv June 2021 data, what is the name of the most frequent pickup location zone?</br>

- Crown Heights North

In [34]:
df_zones = spark.read.csv('./data/raw/taxi_zone_lookup.csv', header=True)
df.join(df_zones, df.PULocationID == df_zones.LocationID, how='inner') \
    .registerTempTable('df_join')

/home/sam/anaconda3/envs/pyspark/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [36]:
spark.sql("""
    SELECT
        COUNT(*) AS trips,
        Zone
    FROM df_join
    GROUP BY Zone
    ORDER BY trips DESC
""").show(10)

+------+--------------------+
| trips|                Zone|
+------+--------------------+
|231279| Crown Heights North|
|221244|        East Village|
|188867|         JFK Airport|
|187929|      Bushwick South|
|186780|       East New York|
|164344|TriBeCa/Civic Center|
|161596|   LaGuardia Airport|
|158937|            Union Sq|
|154698|        West Village|
|152493|             Astoria|
+------+--------------------+
only showing top 10 rows