In [17]:
import pandas as pd

In [13]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

/tmp/ipykernel_11220/2722673778.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

Once we've read in the data, we can use `pd.io.sql.get_schema()` to create a schema for our data. If you run this on its own, it will interpret the pickup and dropoff datetime entries as `TEXT`, so we will need to convert these to datetime beforehand.

In [15]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [16]:
schema = pd.io.sql.get_schema(df, name='yellow_taxi_data')
print(schema)

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

Next up, create the engine and link what we've got to our local db:

In [21]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

Now we'll run the above again with the connection:

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Interesting that it's been converted into standard postgres data types.

Now we want to upload this in "chunks":

In [25]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000)
df = next(df_iter)
len(df)

100000

In [26]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

Running this command creates the table on our db:

In [27]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

Using `pgcli -h localhost -p 5432 -u root -d ny_taxi` to connect to our db, we've got *something*. Damn.
```
root@localhost:ny_taxi> \dt
+--------+------------------+-------+-------+
| Schema | Name             | Type  | Owner |
|--------+------------------+-------+-------|
| public | yellow_taxi_data | table | root  |
+--------+------------------+-------+-------+
```

We'll go ahead and actually upload the data:

In [28]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 1.66 s, sys: 39.5 ms, total: 1.7 s
Wall time: 3.51 s

1000

Checking in the db, we've now got 100,000 rows of data. To import the rest:

In [29]:
while True:
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    print('inserted chunk')

inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk

/tmp/ipykernel_11220/1013741612.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted chunk
inserted chunk

StopIteration:

While it threw an error on exit, we can `SELECT COUNT(*) FROM yellow_taxi_data;` and `wc yellow_tripdata_2021-01.csv` to see that: the CSV has 1,369,766 rows, and our new db has 1,369,765: not including the header row, we've got everything.